@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin-top: 65px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: #e65a81;
    flex-direction: column;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    background: #f587a5;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}

#icon{
    color: #87bcf5; 
    font-size: 15em;
    border: 10px solid transparent;
    border-radius: 50%;
    font-weight: 150px;
}

h2{
    font-size: 2em;
    color: #87bcf5; 
    margin: 15px 0;
    justify-content: center;
}

.btn-group{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

button{
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 30px; 
    border: 5px solid #87bcf5; 
    outline: none;
    cursor: pointer;
}

.button{
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 30px; 
    border: 5px solid #87bcf5; 
    outline: none;
    cursor: pointer;
    margin-left: -200px;
    background:#f587a5;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #f587a5;
    background-color: #FFF;
}

/* button:nth-child(1){
    margin-left: -200px;
    background:#f587a5
} */

button:nth-child(2){
    margin-right: -200px;
    color:#f587a5
}
